[Desktop Entry]
Name=Password Manager
Comment=Simple password manager written in Go
Exec=/usr/bin/password-manager
Icon=Icon.png
Terminal=false
Type=Application
Categories=Utility;Security;

